   
<body>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
      class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>


    {{>admin-sidebar}}




    <div class="content">

      {{>admin-nav}}



      <div class="container-fluid pt-4 px-4">

        <div class="row g-4">

          <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded vh-100 p-4">
              <div class="d-flex justify-content-between">
                <h6 class="mb-4">Hoverable Table</h6>
              <a   data-bs-toggle="modal" data-bs-target="#modalAddCategory" class="btn btn-sm btn-outline-success m-2">Add Category</a>
              </div>
              {{!-- =================== Add Category Modal start ========================= --}}
<div class="modal fade" id="modalAddCategory" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-secondary">
      <div class="modal-header border-0">
        <h5 class="modal-title text text-danger" id="exampleModalToggleLabel" >Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body  border-0">
       <form action="/admin/addCategory" method="post" enctype="multipart/form-data">
       
       <input type="text" class="form-control bg-dark border-0 mb-3" placeholder="Category Name" name="Name" required>
       <input type="file" class="form-control bg-dark border-0" placeholder="Category Image" name="category" required>

       
      </div>
      <div class="modal-footer  border-0">
        <button type="submit" class="btn btn-primary" >Add</button>
      </div></form>
    </div>
  </div>
</div>
         {{!-- =================== Add Category Modal end ========================= --}}


              
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
             <th></th>
                   
                  </tr>
                </thead>
                <tbody>
                  {{#each categories}}
<tr>
                    <th scope="row" class="col-1">{{add @index 1}}</th>
                    <td class="col-8">{{this.Name}}</td>
                    
                    <td class="">
                      
                        <ul style="list-style-type: none;" class="row align-items-start ">
                          
                          <div class="col">
                            <li>
                           <a   data-bs-toggle="modal" data-bs-target="#modalEditCategory{{this._id}}" class="btn btn-sm btn-outline-info m-2">Edit</a>
                              </li>
                          </div>
                          
                          <div class="col">
                           <a   data-bs-toggle="modal" data-bs-target="#modalDeleteCategory{{this._id}}" class="btn btn-sm btn-outline-danger m-2">Delete</a>
                          </div>
                          
                        </ul>
                     
                    </td>
                  </tr>
 {{!-- =================== EDIT Category Modal start ========================= --}}
<div class="modal fade" id="modalEditCategory{{this._id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-secondary">
      <div class="modal-header border-0">
        <h5 class="modal-title text text-danger" id="exampleModalToggleLabel" >Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body  border-0">
       <form action="/admin/editCategory/{{this._id}}"  method="post" >
       
       <input type="text" class="form-control bg-dark border-0 mb-3" placeholder="Category Name" name="Name" value="{{this.Name}}" required>

       
      </div>
      <div class="modal-footer  border-0">
        <button type="submit" class="btn btn-primary" >Edit</button>
      </div></form>
    </div>
  </div>
</div>
         {{!-- ===================  EDIT Category Modal end ========================= --}}

{{!-- ===================  Delete category modal start ========================= --}}
<div class="modal fade" id="modalDeleteCategory{{this._id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-secondary">
      <div class="modal-header border-0">
        <h5 class="modal-title text text-danger" id="exampleModalToggleLabel" >Delete User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body  border-0">
       <h3>Would you like to remove {{this.Name}} category</h3>
      </div>
      <div class="modal-footer  border-0">
<a href="/admin/deleteCategory/{{this._id}}" class=" btn btn-sm btn-outline-danger  btn m-2">Delete</a>      </div>
    </div>
  </div>
</div>
         {{!-- ===================  Delete category modal end ========================= --}}

                  {{/each}}
                  
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      <!-- Table End -->
      {{>admin-foot}}
    </div>
  </div>

{{#if existPopUp}}

{{/if}}

</body>
  



