<div class="container-fluid my-5 pt-5 px-xl-5 justify-content-center">
    <div class=" card card-1 ">
        <div class="card-header bg-white ">
            <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
                <div class="col my-auto">
                    <h4 class="mb-0">Thanks for your Order,<span class="change-color">{{user.Name}}</span> !
                    </h4>
                </div>
                <div class="col-auto text-center  my-auto pl-0 pt-sm-4"> <img
                        class="img-fluid my-auto align-items-center mb-0 pt-3" src="/img/orderSuccess.png" width="115"
                        height="115">
                    <p class="mb-4 pt-0 Glasses">A perfect place to spend on your Fashion</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-between mb-3">
                <div class="col-auto">
                    <h6 class="color-1 mb-0 change-color">Receipt</h6>      
                </div>
                <div class="col-auto  "> <small>Receipt Voucher : {{order._id}}</small> </div>
            </div>
            {{#with order}}
            
            <div class="row">
                <div class="col">
                    <div class="card card-2">
                        <div class="card-body">
                            {{#each cart}}
                            <div class="media pb-2">
                                <div class="sq align-self-center "> <img
                                        class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                                        src="/images/product/{{this.productDetails.Images.[0]}}" width="100" height="100" />
                                </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row  my-auto flex-column flex-md-row">
                                        <div class="col my-auto">
                                            <h6 class="mb-0"> {{this.productDetails.Name}}</h6>
                                        </div>
                                        <div class="col-auto my-auto"> <small>Brand: {{this.productDetails.Brand}}</small></div>
                                        <div class="col my-auto"> <small>Size : {{this.productDetails.Size}}</small></div>
                                        <div class="col my-auto"> <small>Quantity : {{this.product.quantity}}</small></div>
                                        <div class="col my-auto">
                                            <h6 class="mb-0">Rs.{{this.totalAmount}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <hr class="my-3 ">
                            <div class="row">
                                <div class="col-md-3 mb-3"> <small> Track Order <span><i class=" ml-2 fa fa-refresh"
                                                aria-hidden="true"></i></span></small> </div>
                                <div class="col mt-auto">
                                    <div class="progress my-auto">
                                        <div class="progress-bar progress-bar  rounded"  
                                            aria-valuenow="25" style="width: 12%"
                                          
                                            role="progressbar"  aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <div class="media row justify-content-between ">
                                        <div class="col-auto text-right"><span> <small
                                                    class="text-right mr-sm-2">processing</small> <i
                                                    class="fa fa-circle active"></i> </span></div>
                                        <div class="col-auto text-right"><span> <small
                                                    class="text-right mr-sm-2">shipped</small> <i
                                                    class="fa fa-circle active"></i> </span></div>
                                        <div class="flex-col"> <span> <small class="text-right mr-sm-2">Out for
                                                    delivary</small><i class="fa fa-circle active"></i></span></div>
                                        <div class="col-auto flex-col-auto"><small
                                                class="text-right mr-sm-2">Delivered</small><span> <i
                                                    class="fa fa-circle"></i></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
            <div class="row mt-4">
                <div class="col">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <p class="mb-1 text-dark"><b>Shipping Address</b></p>
                        </div>
                        {{#with address}}
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>Name</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">{{name}}</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>Address Line 1</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">{{address1}}</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>Address Line 2</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">{{address2}}</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>District</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">{{district}}</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>State</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">{{state}}</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>Country</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">{{country}}</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>Pin Code</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">{{pinCode}}</p>
                        </div>
                    </div>
                </div>
                {{/with}}
            </div>
            <div class="row invoice ">
               
                <a class="btn btn-primary" href="/invoice/{{order._id}}"
                 
                 >See Invoice</a>
            </div>
        </div>
    </div>
</div>
